*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(52, 53, 52);
    --second-bg-color: #f0f0f0;
    --text-color: black;
    --main-color: gray;

    --main-border: 2px dotted rgb(58, 58, 58);
    --main-border-radios: 1em;
    --main-border-color: rgb(58, 58, 58);
    --gallery-color: #919191c4;
    --margin-between: 2em;
    --font-size-small: .5em;
    --font-size-medium: 1em;
    --font-size-large: 1.5em;
    --max-width-vw: 60vw;

}

body {
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;

    text-align: center;

    margin-block: 1em;
    font-family: 'Courier New', Courier, monospace;

    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    max-width: var(--max-width-vw);
    margin-block-start: var(--margin-between);
}

header {
    padding: 1em;


    border-radius: var(--main-border-radios);
    border: var(--main-border);
    background-color: var(--main-color);
}

img {
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}


/*   爪 注砖转 驻 砖 驻 转 驻 拽 驻转 砖专转... */
.gallery {
    display: grid;

    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;

    padding: .1em;

    margin-block-end: var(--margin-between);

    border-radius: .2em;
    border: 2px solid var(--main-border-color);
    background-color: var(--gallery-color);

}


.pics-gallery h2 {

    font-size: 1em;

    text-align: center;
    text-decoration: underline;

    border-radius: var(--main-border-radios);
    border: var(--main-border);
    background-color: var(--main-color);

}

nav {
    display: flex;

    justify-self: center;

    gap: 1em;

    width: fit-content;

    margin-block-end: var(--margin-between);

    font-weight: bold;
    font-size: 1.2em;
    border-radius: 1em;

}

nav a {

    padding: .5em;
    cursor: pointer;

    border-radius: var(--main-border-radios);
    color: inherit;
    background-color: var(--main-color);
}


footer {
    display: flex;

    justify-content: space-around;
    align-items: center;

    width: 80%;
    height: 3em;

    font-weight: bold;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;

    border-radius: var(--main-border-radios);
    border: 1px solid #815d30;
    background-color: bisque;
}

footer time {}


form {
    display: flex;
    flex-direction: column;

    gap: 1em;
    padding: 1em;

    margin-block-end: var(--margin-between);
    font-size: var(--font-size-medium);
    border-radius: var(--main-border-radios);
    border: var(--main-border);
    background-color: var(--main-color);
}

form button {
    width: fit-content;
    align-self: center;

    border-radius: var(--main-border-radios);
}

.form-row {
    display: flex;

    justify-content: center;
    align-items: center;


    gap: .7em;
    padding: .5em;


    border-radius: var(--main-border-radios);
    border: 1px solid rgb(75, 74, 74);

    background-color: whitesmoke;
}

.birth-date {
    position: relative;
    display: grid;

    place-items: center;

    padding: .5em;

    margin-block-end: .5em;

    text-align: center;
    font-family: sans-serif;

    border-radius: var(--main-border-radios);
    background-color: var(--second-bg-color);
}

.birth-date p:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
}

.birth-date p:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
}

.birth-date p:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

time.birth-date {

    margin-block-end: var(--margin-between);
}

.map-container {
    width: 100%;
    height: 400px;

    margin-block-end: var(--margin-between);
    border-radius: var(--main-border-radios);

}

.places {
    display: flex;
    flex-direction: column;

    place-items: center;


    margin-block-end: var(--margin-between);


    border-radius: var(--main-border-radios);
}

ul {
    display: flex;
    flex-direction: column;

    justify-content: s;
    gap: 1em;

}

/*   爪  转 专拽专 专拽 砖专 砖 砖 拽 */

li::marker {
    content: '';
}

li {
    padding: .4em;
    border-radius: var(--main-border-radios);
    border: 1px solid rgb(75, 74, 74);
    background-color: rgb(190, 189, 188);

}